
h1{
	text-align: left;
}

.Line{
	width: 100%;
	border: 2px double black;
}
.Header{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.Header-item{
	width: 50%;
}

.Nav{
	width: 15%;
	padding: 5px;
	margin-top: 30px; 
	text-align: center;
	background: white;
	text-decoration-style: none;
  	text-align: center;
  	border: 1px solid white;
}



